   <!--Footer Start-->
   <section id="footer">
    <img src="media/border2.png" alt="" id="back">
        <div class="container">
          <div class="row">
             <div class="col-md-4">
                <img src="media/logo.png" alt="" id="social">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque dolorem nemo ducimus eveniet ratione! Vel reprehenderit sit temporibus quis, repellendus omnis aspernatur, eaque autem distinctio nisi libero enim quam excepturi, soluta delectus consequuntur fugiat ratione mollitia. Minima reiciendis, placeat deserunt qui neque voluptatibus eum quod accusamus ad vero, quas corrupti. </p>
             </div>
             <div class="col-md-4">
                <h3>Indigo Pvt. LTD </h3>
                <p><span><i class="bi bi-geo-alt"></i> </span> : Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, voluptatem!</p>
                <p><span><i class="bi bi-telephone"></i></span>: 4985-34798</p>
                <p><span><i class="bi bi-phone"> </i></span>: 9434348729</p>
                <p><span><i class="bi bi-envelope"></i></span>: jitendrasinghchouhan2704@gmail.com</p>
             </div>
             <div class="col-md-4">
                <h3>Query Form</h3>
                <form action="" method="post">
                   <input type="email" name="" id="" placeholder="Enter Email" class="form-control">
                   <textarea name="" id="" placeholder="Enter Query" class="form-control mt-2 mb-2" ></textarea>
                   <button type="submit " class="bt btn-success form-control">Submit Query </button>
                </form>
             </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
             <div class="col-md-12 text-center">
                   <img src="media/instagram-icon.png" alt="">
                   <img src="media/linkedin-icon.png" alt="">
                   <img src="media/snapchat-icon.png" alt="">
                   <img src="media/twitter-icon.png" alt="">
             </div>
          </div>
        </div>
       </section>
  <!--Footer Closed-->