body{
    font-family: 'Pacifico', cursive;
}

#register{
    display: flex;
    align-items: center;
    height: 500px;
}


#register h2{
   text-align: center;
   color: #0d6efd;
}

#header {
    background: #0d6efd;
    padding-top: 8px;
    padding-bottom: 10px;   
}
#header .container-fluid{
    margin-top: 0px;
}
#header img{
    width: 100px;
    box-shadow:10px 10px black;   
}
#header ul li a{
    color: white;
    transition-property: color;
    transition-duration: 2s;
    font-size: 15px;
}
#header ul li a:hover{
    color: rgb(179, 179, 179); 
}
#header .bi-list{
    color:  white;
    font-size: 25px;
}
#header .navbar-toggler{
    border: 1px solid white
}
#header #back{
    width: 100%;
}
#banner{
    background: #0d6efd;
    
}

#banner #img1{
    width: 100px;
    border-radius: 50%;
    
}

#banner img{
    width: 100%;
}
    

#Services h2{
    text-align: center;
   
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}
#Services img{
    border-radius: 30%;
    padding-bottom: 10px;
}


#Services p{
    text-align: justify;
}

#Services h2{
    text-align: center;
}



#footer{
    background: #0d6efd; 
    padding-bottom: 20px
}
#footer h3{
    font-family: 'Bebas Neue', cursive;
    color: white;
}
#footer span{
    color: rgb(255, 255, 255);
    font-size: 17px;
}
#footer p{
    color: rgb(255, 255, 255); 
    text-align: justify;
}
#footer img{
    width: 50px;
    margin-bottom: 10px;
}

#footer #social{
    width: 100px;  
}

#footer #back{
    width: 100%;
}



#alert{
    color: red;
    font-size: small;
}